body {
    font-family: 'Roboto', sans-serif;
  }

  .header{
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    background-color: white;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}
.logo-side p{
    margin-bottom: 5px;
    color: #666666;
    font-size: 11px;
    font-weight: 400;
    line-height: 11px;
}
.logo-side img {
    height: auto;
    max-width: 100%;
}
.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #666666;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
    margin-top: 20px;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.number-side{
    display: flex;
align-items: center;   
gap: 10px; 
}
.number-side p{
    text-align: right;
    color: #555555;
    font-family: "Roboto", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
}
.elementor-button{
    background-image: linear-gradient(180deg, #49B74E 0%, #388E3C 100%);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
    border-radius: 8px 8px 8px 8px;
    padding: 12px 20px 12px 20px;
    letter-spacing: 1px;
    color: #FFFFFF;
    font-size: 14px;
border: none;
font-weight: 500;
    text-decoration: none;
    max-width: 144.88px;
}
.number{
    display: flex;

}
.dolor{
    max-width: 100%;
}
.hero{
    padding: 50px 0px 0px 0px;
    background-color: #f9fafb;
}
.hero-section h4{
font-weight: 700;
}


.w3-light-grey{
    padding-top: 5rem;
}
#myBar{
    border-radius: 10px;
    height:24px;
    width:100%; 
    background-color: ghostwhite;
}
.green{
    border-radius: 10px;
    background-color: #72b239;
    overflow: hidden;
    width: 20%; 
    margin: 0; 
    padding: 0px !important;
    text-align: right; 
    color: white;
}
  #question{
    text-align: center;
    display: block;
    font-size: 28px;
    line-height: 1.3;
    margin-top: 4rem;
    word-break: break-word;
    word-wrap: break-word;
}
#options button{
    padding: 12px 8px;
    background-color: #e9a800;
    border: none;
    width: 100%;
    text-align: center;
    font-size: 28px;
    margin-bottom: 10px;
    color: white;
}
.blue_c{
    display: none;
    margin-top: 3rem;
    width: 100%;
    border-top: 3px solid rgb(6, 6, 161);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}
.blue_c strong{
    color: green;
    font-size: 26px;
    font-weight: bold;
}
.blue_c h2{
    font-size: 26px;
    color: black;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.blue_c h3{
    font-size: 21px;
    color: black;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.call_us_b{
    margin-top: 2rem;
    font-weight: bold;
    margin-top: 20px;
    text-decoration: none;
    padding: 12px 8px;
    background-color: #e9a800;
    border: none;
    width: 100% !important;
    text-align: center;
    font-size: 28px;
    margin-bottom: 10px;
    color: white;
}
.footer{
    margin-top: 5rem;
    padding-top: 5rem;
    background-color: #263238;
    color: white;
}
.footer button{
    font-size: 13px;
    color: white;
    padding: 10px 25px;
    font-weight: bold;
    background-color: #49B74E;
    border-radius: 5px;
    border: none;
}
.footer{
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 30px 0px 80px 0px;
    background-color: #263238;
}
.footer-img img{
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;

}
.footer-img p{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}
.footer-btn{
    background-image: linear-gradient(180deg, #49B74E 0%, #388E3C 100%);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
    border-radius: 8px 8px 8px 8px;
    padding: 12px 20px 12px 20px;
    color: white;
    font-weight: 500;
    border: none;
}
.footer-btn2{
    background-image: linear-gradient(180deg, #49B74E 0%, #388E3C 100%);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
    border-radius: 8px 8px 8px 8px;
    padding: 12px 20px 12px 20px;
    color: white;
    font-weight: 500;
    border: none;
}
.desc{
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-size: 11px;
    font-weight: 400;
    text-decoration: none;
    line-height: 14px;
}
@media (max-width: 768px) {
    .logo-side img {
        height: auto;
        max-width: 165px;
    }
    
    .number-side{
        flex-direction: column;
        gap: 0px;
    }
    .elementor-button{
        background-image: linear-gradient(180deg, #49B74E 0%, #388E3C 100%);
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
        border-radius: 8px 8px 8px 8px;
        letter-spacing: 1px;
        color: #FFFFFF;
        font-size: 14px;
    border: none;
    font-weight: 700;
        text-decoration: none;
        max-width: 100%;
    }
    .dolor{
        max-width: 100%;
    }
    .footer-btn{
        width: 100%;
    }
    .mob-btn{
        width: 100%;
        
    }
}
.footer-bottom{
    position: fixed;
    bottom: 0px;
    z-index: 99;
    width: 100%;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    background-color: #FFFFFF;
}
.popup {
    display: none;
    position: fixed;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}